<div class="card home-data mb-3" [routerLink]="['/homes/', home.id]" routerLinkActive="router-link-active" >
    <div class="card-img-top">
        <img class="img-fluid" src="{{ home.coverUrl }}" alt="{{ home.street }}">
    </div>
    <div class="card-body">
        <div class="home-data-price text-dark">{{ home.price | currency : 'USD' : 'symbol' : '1.0' }}</div>
        <div class="d-flex">
            <span class="text-muted">{{ home.bedrooms }} Bed |</span>
            <span class="text-muted">&nbsp;{{ home.bathrooms }} Bath |</span>
            <span class="text-muted">&nbsp;{{ home.squareFeet | number }} Sq Ft</span>
        </div>
        <div>
            <span class="text-muted">{{ home.street }},</span>
            <span class="text-muted">&nbsp;{{ home.state}}</span>
        </div>
    </div>
</div>

