<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse n" [collapse]="isCollapsed">
      <a class="navbar-brand" [routerLink]="['/']">HomeApp</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/homes']">Homes</a>
        </li>
        <li *ngIf="isAuth()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/homes/add']">Add Home</a>
        </li>
        <li *ngIf="isAuth()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/homes/myHomes']">My Homes</a>
        </li>
        <li *ngIf="isAuth()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/homes/favorites']">My Favorites</a>
        </li>
        <li *ngIf="!isAuth()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="!isAuth()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="isAuth()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
  </nav>