<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse n" [collapse]="isCollapsed">
      <a class="navbar-brand" [routerLink]="['/']">HomeApp</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/homes']">Homes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Features</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Pricing</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>