<div class="landing-header">
    <div class="landing-header-overlay landing-info text-center">
        <p class="h2 text-white">Your dream home is waiting</p> 
        <button class="btn btn-success" [routerLink]="['/homes']">Search Now</button>
    </div>
</div>  

<div class="feature py-5">
    <div class="container">
        <div class="row py-2">
            <div class="col-sm-4 text-center icons">
                <i class="fa fa-key fa-2x mb-2"></i>
                <h3 class="feature-heading">Find Your Home</h3>
                <p class="lead feature-info">Search for thousands of real estate listings</p>
            </div>
            <div class="col-sm-4 text-center icons">
                <i class="fa fa-hourglass fa-2x mb-2"></i>
                <h3 class="feature-heading">Sell Faster</h3>
                <p class="lead feature-info">Give your home exposure to millions of people</p>
            </div>
            <div class="col-sm-4 text-center icons">
                <i class="fa fa-briefcase fa-2x mb-2"></i>
                <h3 class="feature-heading">Real Professionals</h3>
                <p class="lead feature-info">Conntect with real estate professionals in your area</p>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
