<div class="container">
    <div class="row">
    <h3 class="text-center my-5">My Homes</h3>
          <table class="table">
            <thead class="">
            <tr>
              <th style="width: 10%;">Id</th>
              <th style="width: 50%;">Street</th>
              <th style="width: 25%;">Date Added</th>
              <th style="width: 15%;"></th>
            </tr>
              </thead>
              <tbody>
            <tr *ngFor="let home of userHomes">
              <td>{{ home.id }}</td>
              <td>{{ home.street }}</td>
              <td>{{ home.dateAdded | date }}</td>
              <td>
                <div class="d-flex">
                <button class="btn btn-sm btn-info mr-1" [routerLink]="['/homes/edit/', home.id]">Edit</button>
                <button class="btn btn-sm btn-info" (click)="deleteHome(home.id)"><i class="fa fa-trash-o"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
        </div>