<footer class="footer pt-5 pb-3">
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <ul class="footer-list">
                    <li>Company</li>
                    <li>Contact Us</li>
                    <li>Careers</li>
                    <li>Site Map</li>
                </ul>
                <div class="text-center py-2">
                <div>Copywrite &copy; <span class="text-secondary">HomeApp</span></div>
                <div>{{getYear()}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>